*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "IBM Plex Sans";
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

input,
select {
  font: inherit;
}

ul {
  list-style: none;
}
