.projects {
  height: 70vh;
}
.projects-container {
  overflow-y: scroll;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1rem;
  height: 80%;
  padding: 0 1rem;
}

.projects-container::-webkit-scrollbar {
  /* display: none; */
  width: 2px;
}

.projects-container::-webkit-scrollbar-track {
  background-color: var(--clr-primary);
  box-shadow: inset 0 0 5px var(--clr-tertiory);
  border-radius: 10px;
}

.projects-container::-webkit-scrollbar-thumb {
  background-color: var(--clr-tertiory);
}

@media (width <= 468px) {
  .projects {
    overflow-y: scroll;
  }
  .projects .projects-container {
    height: 60%;
  }
}
